* {
    margin: 0;
    padding: 0;
}

.myHeader {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    height: 936px;
    position: relative;
}

header {
    position: relative;
}

.mask {
    width: 100%;
    height: 936px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;

}

.myNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
}

.myLogo {
    width: 20%;
    height: 60px;
    margin-left: 15%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.myLogo > h3 {
    margin-left: 3%;
    color: white;
    font-size: 40px;
    text-align: center;
    transition: all .3s linear;
}

h3:hover {
    color: yellowgreen;
    transition: all .3s linear;
}

.navList {
    width: 30%;
    height: 60px;
    margin-left: 20%;
    margin-top: 1%;
}

.navList > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 2%;
}

.navList > ul > li {
    list-style: none;
    color: white;
    margin-left: 4%;
    transition: all .3s linear;
}

.navList > ul > li:hover {
    cursor: pointer;
    color: #ED7511;
    transition: all .3s linear;
}

.titleName {
    width: 25%;
    height: 250px;
    /*border: 1px solid white;*/
    position: absolute;
    margin: auto auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.titleName > h2 {
    width: 350px;
    font-size: 40px;
    margin: 0 auto;
    color: white;
    letter-spacing: 3px;
    /*border: 1px solid white;*/

}

.titleName > h4 {
    width: 150px;
    /*border: 1px solid white;*/
    font-size: 20px;
    margin: 4% auto;
    color: white;
    letter-spacing: 5px;
}

.butLook {
    width: 150px;
    height: 50px;
    background-color: #fdd136;
    color: white;
    font-weight: bold;
    border-radius: 3%;
    margin: 8% auto;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
}

.butLook:hover {
    cursor: pointer;
}

.space {
    width: 100%;
    height: 70px;
}

.blogTitle {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /*border: 1px solid red;*/
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.blogText_one {
    width: 74%;
    height: 200px;
    margin: 50px auto;
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.blogText_two {
    width: 74%;
    height: 230px;
    margin: 50px auto;
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.blogImg {
    width: 20%;
    height: 200px;
    margin-left: 3.6%;
    /*border: 1px solid blue;*/
}

.blogImg > img {
    width: 300px;
    height: 200px;
}

.technique {
    width: 100%;
    height: 550px;
    /*border: 1px solid red;*/
    margin-top: -40px;
    background-image: url("../images/techni.jpg");
    background-size: cover;
}

.techniqueTitle {
    width: 100%;
    height: 50px;
    /*border: 1px solid red;*/
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.techniqueText {
     width:50%;
     height: 380px;
     margin: 10px auto;
 }
.techniqueText>h5 {
    margin-top: 20px;
    /*text-align: left;*/
    font-size:25px;
}
.techniqueText>h5:hover {
    cursor: pointer;
    text-decoration: underline;
}
.techniqueText>p {
    /*text-align: left;*/
    font-size:15px;
    color: gray;
}
.more{
    width: 7%;
    margin: 30px auto;
    font-size: 15px;
    color: red;
}
.more:hover{
   cursor: pointer;
}
/*基本简历*/
.resume {
    width: 100%;
    height: 650px;
    background-color: #f7f8fc;
}

.personalTitle {
    width: 100%;
    height: 50px;
    /*border: 1px solid red;*/
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.personalText {
    width: 80%;
    height: 500px;
    /*border: 1px solid yellow;*/
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.personalData {
    width: 40%;
    height: 500px;
    /*border: 1px solid black;*/
    margin-left: 2%;
}

.personalPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px auto;
}

.personalPhoto > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.personalData > p {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}


.personalName {
    width: 100%;
    height: 80px;
    margin-top: 50px;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.personalName > div {
    width: 300px;
    height: 30px;
    /*border: 1px solid black;*/
    font-size: 18px;
}

.fontIcon {
    width: 100%;
    height: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fontIcon > div {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 6%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    border: 1px solid black;
}

.twoCode {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#qqCode {
    width: 110px;
    visibility: hidden;
}

#qqFa:hover {
    cursor: pointer;
}

#wxCode {
    width: 110px;
    margin-left: 1.5%;
    visibility: hidden;
}

#wbCode {
    width: 110px;
    margin-left: 1.5%;
    visibility: hidden;
}

#gitCode {
    width: 110px;
    margin-left: 1.5%;
    visibility: hidden;
}

#ykCode {
    width: 110px;
    margin-left: 1.5%;
    visibility: hidden;
}

/*个人技能*/
.personalSkills {
    width: 40%;
    height: 450px;
    margin-left: 15%;
    /*border: 1px solid yellow;*/

}

.personalHobby {
    width: 100%;
    height: 150px;

}

.personalHobby > h5 {
    font-size: 20px;
    margin-top: 100px;
    letter-spacing: 2px;
    font-weight: bold;
}

.personalHobby > p {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.personalSki {
    width: 100%;
    height: 200px;

}

.personalSki > h5 {
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.personalSki > p {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.personalSkills i {
    padding-right: 5px;
}

.footer {
    width: 100%;
    height: 30px;
}

.footer > p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}